:root {
  --black: #121212;
  --white: #faf5f5;
  --yellow: rgb(249, 223, 77);
  --dist: -16rem;
  --ang: -18deg;
  --ang_start: 0deg;
  --ang_img: -33deg;
  --dist_img: -13rem;
  --indent_ui: 0rem;
  --isindent: 0deg;
  --vidy : 1rem;
  --vidx : 0rem;
}
mark{
  background-color: var(--white);
}
mark::selection{
  background-color: var(--black);
  color: var(--white);
}
body{
  font-family: "Proxima Nova", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  scroll-behavior: smooth;
  overflow: hidden; 
  z-index: 3;
  color: white;
}
h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 3rem;
  text-align: justify;
  font-weight: 900;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}
h2{
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}
section {
  padding: 50px;
  font-family: 'Proxima Nova', sans-serif;
  color: var(--white);
}
p{
  /* background-color: #ffffff07; */
  color: #ffffffb8;
  line-height: 2rem;
}
canvas {
  position: fixed !important;;
  left: 0%;
  top: 0%;
  z-index: 0;
}
::selection {
  color: var(--black);
  background: var(--white);
}
/*_____________________________________________ANIMATIONS__________________________________________*/
#blackscreen{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height:100%;
  background-color: #121212;
  z-index: 5;
}
@keyframes fadeMeOut{
  0%{opacity:1; visibility:visible;}
  100%{opacity:0; visibility:hidden;}
}
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255) }
}
/*______________________________________________ABOUT____________________________________________*/
#about {
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
  left: calc(50% - 300px - 150px);
  top: calc(35%);
  height: 30%;
  width: 300px;
  font-size: large;
  display: none;
  padding-left: 15px;
  border-left: 0.1rem solid rgba(240, 240, 210, .9);
  background-color: #00000000;
  -webkit-mask-image: linear-gradient(to bottom, transparent, var(--white), var(--white), transparent);
  mask-image: linear-gradient(to bottom, transparent, var(--white), var(--white), transparent);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  transition: all 0.3s ease;
}
#about p{
  color: var(--white);
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
#about::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
#about::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
}
#about::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
  /*___________________________________________GALLERY__________________________________________*/
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-item {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 1rem; /* adjust to your liking */
  margin-bottom: 30px;
  overflow: hidden;
  border: 0.1rem solid rgba(240, 240, 210, .9);
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.gallery-item:hover img {
  transform: scale(1.15);
  box-sizing: content-box;
  transform-origin: 50% 50%;
  filter: none;
}
.gallery-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.gallery-item:hover .gallery-item-overlay {
  opacity: 1;
  border: 0.7rem solid var(--yellow);
  transition: border 0.3s ease-in-out;
}
.gallery-item-overlay h3,
.gallery-item-overlay p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.gallery-item-overlay h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.gallery-item-overlay p {
  font-size: 16px;
}
.thumbnail{
  max-width: 45rem;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0rem;
}
/*___________________________________________UI DESIGN STUFF__________________________________________*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 4rem;
  height: 0.2rem;
  z-index: 10;
  background: var(--white);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  transform: rotate(90deg);
  position: absolute;
  right: -1rem;
  bottom: 4rem;
  width: 5.5rem;
  color: #FFFFFF;
}
.slider:hover {
  opacity: 1;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0), 0 4px 10px 0 rgb(0, 0, 0);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--white);
  cursor: pointer;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.572), 0 4px 20px 0 rgba(0, 0, 0, 0.556);
}
.slider::-moz-range-thumb {
  width: 50%;
  height: 25px;
  background: var(--white);
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.509);
}
/* .slider::after {
  content: "sensitivity";
  font-size: 0.8rem;
  text-shadow: 1px 1px #000000;
} */
.slidecontainer label{
  width: 4rem;
  z-index: 10;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  transform: rotate(-90deg);
  position: absolute;
  font-size: 0.9rem;
  right: -1rem;
  bottom: 9.5rem;
  width: 5.8rem;
  color: #FFFFFF;
}
#logo{
  z-index:1;
  cursor: pointer;
  width : 10rem;
  height: auto;
  position: fixed;
  top: -2rem;
  left: 1rem;
  transition: transform 0.2s ease-in-out;
  opacity:1;
  fill: #00000031;
}
.ui
{
  position: fixed !important;
  z-index: 3;
}
/*___________________________________________MENU__________________________________________*/
.menu {
  left: calc(50% + 6.5rem);
  top: calc(50% - 4rem + var(--indent_ui)); 
  width: 8rem; /*8rem*/
  text-align: center;
  opacity : 1;
  transition: left 0.66s ease, top 0.66s ease;
  list-style-type: none;
}
.menu-item{
  all: unset;
  cursor: pointer;
  display: block;
  width: 8rem;
  position: relative;
  opacity: 1;
  color: #f2f2f2;
  text-shadow: 1px 1px #ffffff28;
  transition: transform  0.13s ease-in-out;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem;
}
.menu-item:focus {
  outline: solid rgb(255, 255, 255) 3px;
}
.menu-item:hover{
  transform: scale(1.15);
  background-color: var(--white);
  text-shadow: 1px 1px #18181839;
  color: #121212;
}
.selected{
  transform: scale(1.15);
  background-color: var(--white);
  text-shadow: 1px 1px #18181839;
  color: #121212;
}
/*___________________________________________TAGS/CIRCLES__________________________________________*/
.tags{
  position: fixed;
  z-index: 2;
  left: 43%;
  top: calc(50% + var(--indent_ui));
  opacity : 0;
}
.tags a{
  all: unset;
  cursor: pointer;
  transition: font 0.17s!important;
}
.label {
  position: fixed;
  display: block;
  z-index: 2;
  left: calc(50% - 6.5rem);
  top: calc(50% - 1.5rem + var(--indent_ui));
  height: 2rem;
  width: 12rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--black);
  /* background-color: var(--yellow); */
  text-shadow: 0px 0px 3px #ffffff;
  padding-bottom: 1.4rem;
  transition: padding-left 0.2s ease-in-out, opacity 0.15s ease-in-out, transform 0.33s, border-top 0.5s, top 0.33s;
}
.label:nth-child(1) {
  transform: rotate(calc(var(--ang_start) - var(--ang))) translateX(var(--dist));
}
.label:nth-child(2) {
  transform: rotate(calc(var(--ang_start) + 3*var(--ang) + var(--ang)*var(--isindent))) translateX(var(--dist));
}
.label:nth-child(3) {
  transform: rotate(calc(var(--ang_start) + 7*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle {
  left: calc(50% - 4rem);
  top: calc(50% - 1rem + var(--indent_ui));
  height: 2rem;
  width: 8rem;
  text-align: right;
  font-size: 1.2rem;
  color: var(--white);
  text-shadow: 1px 1px 1px #000000;
  border-top: solid 1px var(--white);
  padding-bottom: 1.5rem;
  transition: opacity 0.13s ease-in-out, transform 0.33s, border-top 0.5s, top 0.33s;
}
.circle:nth-child(1) {
  transform: rotate(var(--ang_start)) translateX(var(--dist));
}
.circle:nth-child(2) {
  transform: rotate(calc(var(--ang_start) + var(--ang))) translateX(var(--dist));
}
.circle:nth-child(3) {
  transform: rotate(calc(var(--ang_start) + 2*var(--ang))) translateX(var(--dist));
}
.circle:nth-child(4) {
  transform: rotate(calc(var(--ang_start) + 3*var(--ang))) translateX(var(--dist));
}
.circle:nth-child(5) {
  transform: rotate(calc(var(--ang_start) + 4*var(--ang) + var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(6) {
  transform: rotate(calc(var(--ang_start) + 5*var(--ang) + var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(7) {
  transform: rotate(calc(var(--ang_start) + 6*var(--ang) + var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(8) {
  transform: rotate(calc(var(--ang_start) + 7*var(--ang) + var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(9) {
  transform: rotate(calc(var(--ang_start) + 8*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(10) {
  transform: rotate(calc(var(--ang_start) + 9*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(11) {
  transform: rotate(calc(var(--ang_start) + 10*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(12) {
  transform: rotate(calc(var(--ang_start) + 11*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(13) {
  transform: rotate(calc(var(--ang_start) + 12*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
.circle:nth-child(14) {
  transform: rotate(calc(var(--ang_start) + 13*var(--ang) + 2*var(--ang)*var(--isindent))) translateX(var(--dist));
}
/*___________________________________________LINK/SOCIALS TAGS__________________________________________*/
#content-3 img:hover{
  background-color: #000000;
  border-radius: 50%;
}
#content-3 img{
  filter: invert(1);
  width: 4rem;
  transition: width 0.17s ease-in;
}
#content-3 .circle {
  border: none;
  text-align: center;
  top: calc(50% - 1.5rem + var(--indent_ui));
}
#content-3 .circle:nth-child(1) {
  transform: rotate(var(--ang_start)) translateX(var(--dist_img));
}
#content-3 .circle:nth-child(2) {
  transform: rotate(calc(var(--ang_start) + var(--ang_img))) translateX(var(--dist_img));
}
#content-3 .circle:nth-child(3) {
  transform: rotate(calc(var(--ang_start) + 2 * var(--ang_img))) translateX(var(--dist_img));
}
#content-3 .circle:nth-child(4) {
  transform: rotate(calc(var(--ang_start) + 3 * var(--ang_img))) translateX(var(--dist_img));
}
/*___________________________________________PROFILE VIDEO__________________________________________*/
#zoomer{
  transition: transform 0.33s;
  border-radius: 100px;
  background-color: var(--black);
  z-index: 1;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  transition: transform 0.33s ease-in-out, width 0.43s ease-in-out, height 0.43s ease-in-out;
}
#zoomer:hover{
  transform: scale(5.25);
}
#profile{
  width: 100px;
  height: auto;
  transition: transform 0.33s ease-in-out, width 0.43s ease-in-out, height 0.43s ease-in-out;
  fill: var(--white);
}
.image-container {
  top: calc(50% + var(--indent_ui));
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px var(--white);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(204, 255, 20, 0);
  transition: top 0.42s ease-in-out;
  z-index: 4 !important;
}
.image-container video {
  display: block;
  margin: auto;
  width:250px;
  height:250px;
  transition: transform 0.13s, width 0.33s ease-in-out, height 0.33s ease-in-out;
}
.image-container video:hover {
  transform: translate(var(--vidx), var(--vidy));
}
/*___________________________________________LOADER STUFF__________________________________________*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}
.loader {
  position: fixed;
  left: calc(50% - 5rem);
  top: calc(50% - 5rem);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #ffffffd5;
  animation: spin 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 4px solid;
  border-top-color: rgb(18, 18, 18);
  animation: spin-reverse .55s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ffffffb6;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*__________________________________________MEDIA QUERY & FONTS__________________________________________*/
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova.otf') format('truetype');
}
/*______________________________________________MEDIUM PC SCREEN__________________________________________*/
@media (max-width: 950px) {
  #about {
    left: calc(50% - 250px - 150px);
    top: calc(35%);
    height: 30%;
    width: 250px;
  }
}
@media (max-width: 820px) {
  #about {
    left: calc(50% - 140px - 150px);
    top: calc(35%);
    height: 30%;
    width: 160px;
  }
}
/*____________________________________________MEDIUM MOBILE SCREEN__________________________________________*/
@media (max-height: 576px) {
  #logo {
    transform: translate(-4rem, 2rem) rotate(90deg) scale(0.8);
  }
}
@media (max-width: 576px) {
  #logo {
    transform: translate(-4rem, 2rem) rotate(90deg);
  }
  .image-container video{
    width:150px;
    height:150px;
  }
  #zoomer{
    width:150px;
    height:150px;
  }
  #profile{
    width: 65px;
    height: auto;
  }
  #about {
    left: calc(20%);
    top: calc(67%);
    height: 25%;
    width: 60%;
  }
  .circle{
    left: calc(50% - 3.5rem);
    top: calc(50% + var(--indent_ui) - 1rem);
    width: 7rem;
    height: 2rem;
    text-align: right;
    border-top: none;
  }
  .label {
    left: calc(50% - 3.5rem);
    top: calc(50% - 1.5rem + var(--indent_ui));
    height: 2rem;
    width: 7rem;
  }
  .menu{
    left: calc(50% + 3rem); 
    top: calc(50% + var(--indent_ui) - 4rem);
    width: 7rem;
  }
  :root{
    --dist: -9.5rem;
    --ang: -26deg;
    --ang_start: 52deg;
    --ang_img: -32deg;
    --dist_img: -8rem;
  }
  #content-3 img{
    width: 2.5rem;
  }
}

/*______________________________________________SMALL PHONE__________________________________________*/
@media (max-width: 400px) {
  #logo {
    transform: translate(-4rem, 2rem) rotate(90deg);
  }
  .image-container video{
    width:175px;
    height:175px;
  }
  .image-container{
    top: calc(50% + var(--indent_ui));
    left: 70%;
  }
  #zoomer{
    width:175px;
    height:175px;
  }
  #profile{
    width: 65px;
    height: auto;
  }
  #about {
    left: calc(50% - 160px);
    top: calc(35%);
    height: 30%;
    width: 150px;
    font-size: 1rem;
  }
  .circle{
    top: calc(50% + var(--indent_ui) - 1rem);
    left: calc(70% - 4rem);
    font-size: 1.3rem;
    width: 8rem;
    height: 2rem;
    text-align: right;
    border-top: none;
  }
  .label {
    left: calc(70% - 4rem);
    top: calc(50% - 1.5rem + var(--indent_ui));
    height: 2rem;
    width: 8rem;
  }
  .menu{
    top: calc(84.2%);
    bottom: 100% !important;;
    left: 0%;
  }
  .menu-item{
    font-size: 2vh;
    width: 7rem;
  }
  /* .slider{
    display: none;
  } */

  :root{
    --dist: -12rem;
    --ang: -26deg;
    --ang_start: 52deg;
    --ang_img: -32deg;
    --dist_img: -10rem;
  }
  #content-3 img{
    width: 4rem;
  }
}
/*__________________________________________VERY SMALL PHONE__________________________________________*/
@media (max-width: 341px) {
  #logo {
    transform: translate(-4.5rem, 1rem) rotate(90deg) scale(0.8);
  }
  .image-container video{
    width:150px;
    height:150px;
  }
  .image-container{
    top: calc(50% + var(--indent_ui));
    left: 70%;
  }
  #zoomer{
    width:150px;
    height:150px;
  }
  #profile{
    width: 65px;
    height: auto;
  }
  #about {
    left: calc(50% - 15vw - 80px);
    top: calc(35%);
    height: 30%;
    width: 20vw;
  }
  .circle{
    top: calc(50% + var(--indent_ui) - 1rem);
    left: calc(70% - 4rem);
    font-size: 1.1rem;
    width: 8rem;
    height: 2rem;
    text-align: right;
    border-top: none;
  }
  .menu{
    top: calc(80%);
    bottom: 100% !important;;
    left: 0%;
  }
  .menu-item{
    font-size: 1rem;
    width: 7rem;
  }
  :root{
    --dist: -10rem;
    --ang: -26deg;
    --ang_start: 52deg;
    --ang_img: -32deg;
    --dist_img: -8rem;
  }
  #content-3 img{
    width: 3.5rem;
  }
}